{
  "VideoExtractorFunction": {
    "MEDIA_RESULT_QUEUE_NAME": "fiap-lumiere-result-files-events-queue",
    "S3_BUCKET_NAME": "fiap-lumiere-bucket",
    "LOG_LEVEL": "INFO",
    "VIDEO_PROCESSING_MAX_FRAMES": "8000",
    "VIDEO_PROCESSING_TIMEOUT_SECONDS": "600"
  }
}